{% extends 'AppFrontendBundle::base.html.twig' %}

{% block body %}

<a href="{{ path('cart_put') }}">Put</a>
<a href="{{ path('cart_remove') }}">Remove</a>
<a href="{{ path('cart_clear') }}">Clear</a>

{% endblock %}
